CAM_NAME_0=test
CAM_URL_0=rtsp://10.10.10.10:554/Streaming/Channels/1
CAM_STREAM_0=tcp://127.0.0.1:5556
CAM_ONVIF_0=onvif://admin:admin@10.10.10.10:80
CAM_PTZ_FEATURES_0=zoom

META_SERVER_ADDRESS=tcp://127.0.0.1:5555
API_SERVER_PORT=9000